# python / venv
__pycache__/
*.py[cod]
.venv/
env/
.env
.env.*
venv/
temp_venv/     # ← ДОБАВЬ ЭТУ СТРОКУ
*.sqlite3
db.sqlite3

# django
/staticfiles/
/media/
/data/
/*.log

# Временные файлы миграции
data_backup.json     # ← ДОБАВЬ ЭТУ СТРОКУ
export_data.py       # ← ДОБАВЬ ЭТУ СТРОКУ