openapi: 3.0.0
info:
  title: BeautyGO API
  version: 1.0.0
servers:
- url: https://api.beautygo.ru/api/v1
  description: Production API v1
- url: https://api.beautygo.ru/api/v2
  description: Production API v2
- url: https://api.beautygo.ru/api/v3
  description: Production API v3
tags:
- name: Auth v1
  description: Регистрация, логин, верификация
- name: Auth v2
  description: Соцсети и расширенная авторизация
- name: Users v1
  description: Профиль пользователя
- name: Specialists v1
  description: Мастера и их профили
- name: Services v1
  description: Услуги и категории
- name: Booking v1
  description: Бронирования и слоты
- name: Reviews v1
  description: Отзывы клиентов
- name: Geolocation v2
  description: Поиск мастеров на карте
- name: Payments v2
  description: Оплаты, сессии, история
security:
- bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths: {
  /auth/register/:
    post:
      summary: Регистрация нового пользователя
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, phone, password, role]
              properties:
                name:
                  type: string
                  example: Иван Иванов
                phone:
                  type: string
                  example: +79991234567
                password:
                  type: string
                  example: securepassword
                role:
                  type: string
                  enum: [client, specialist]
                  example: client
                social_accounts:
                  type: array
                  items:
                    type: string
                    enum: [google, vk, apple]
                  example: [google]
      responses:
        '201':
          description: Пользователь успешно зарегистрирован
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 1
                  name:
                    type: string
                    example: Иван Иванов
                  phone:
                    type: string
                    example: +79991234567
                  role:
                    type: string
                    example: client
                  token:
                    type: string
                    example: JWT_TOKEN
        '400':
          description: Ошибка валидации
          content:
            application/json:
              examples:
                phone_exists:
                  summary: Телефон уже зарегистрирован
                  value:
                    detail: Phone already registered
                invalid_format:
                  summary: Неверный формат телефона
                  value:
                    detail: Invalid phone format
                weak_password:
                  summary: Слабый пароль
                  value:
                    detail: Password too weak
                unsupported_social:
                  summary: Социальная сеть не поддерживается
                  value:
                    detail: Unsupported social account type
  /auth/login/:
    post:
      summary: Авторизация пользователя
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
                - password
              properties:
                phone:
                  type: string
                  example: "+79991234567"
                  description: >
                    Номер телефона пользователя в международном формате.  
                    Должен начинаться с +7 и содержать 11 цифр.
                password:
                  type: string
                  example: "securepassword"
                  description: >
                    Пароль, указанный при регистрации.  
                    Минимум 8 символов. Допускаются буквы, цифры, спецсимволы.
  /auth/logout/:
    post:
      summary: Выход из системы
      description: Выход пользователя. Требуется JWT токен в заголовке Authorization.
      responses:
        "204":
          description: Успешный выход пользователя
        "401":
          description: Пользователь не авторизован
      security:
      - bearerAuth: []
  /auth/verify-phone/:
    post:
      summary: Подтверждение номера телефона
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_verifyphone_body'
        required: true
      responses:
        "200":
          description: Телефон успешно подтверждён
        "400":
          description: Неверный код или формат телефона
          content:
            application/json:
              examples:
                invalid_code:
                  summary: Неверный код подтверждения
                  value:
                    detail: Invalid confirmation code
  /auth/verify-email/:
    post:
      summary: Подтверждение email
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_verifyemail_body'
        required: true
      responses:
        "200":
          description: Email успешно подтверждён
        "400":
          description: Неверный код или email
          content:
            application/json:
              examples:
                invalid_code:
                  summary: Неверный код подтверждения
                  value:
                    detail: Invalid confirmation code
    /auth/social-login/:
      post:
        summary: Авторизация пользователя
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                required: [phone, password]
                properties:
                  phone:
                    type: string
                  password:
                    type: string
        responses:
          '200':
            description: Успешный вход
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    token:
                      type: string
  /users/me:
    get:
      summary: Получение информации о текущем пользователе
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Данные пользователя
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer, example: 1 }
                  name: { type: string, example: Иван Иванов }
                  phone: { type: string, example: +79991234567 }
                  role: { type: string, example: client }
        '401':
          description: Неавторизован
    patch:
      summary: Обновление данных текущего пользователя
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, example: Иван Петров }
                phone: { type: string, example: +79991230000 }
      responses:
        '200':
          description: Успешное обновление
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer, example: 1 }
                  name: { type: string, example: Иван Петров }
                  phone: { type: string, example: +79991230000 }
                  role: { type: string, example: client }
        '400':
          description: Неверный формат данных
  /users/{id}/public:
    get:
      summary: Публичный профиль пользователя по ID
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Публичный профиль
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer, example: 5 }
                  name: { type: string, example: Анна Косметолог }
                  rating: { type: number, example: 4.9 }
                  category: { type: string, example: Массаж }
                  city: { type: string, example: Москва }
        '404':
          description: Пользователь не найден
  /specialists/:
    get:
      summary: Получение списка специалистов
      parameters:
        - in: query
          name: category
          schema: { type: string }
        - in: query
          name: rating_min
          schema: { type: number }
        - in: query
          name: city
          schema: { type: string }
      responses:
        '200':
          description: Список специалистов
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer, example: 15 }
                    name: { type: string, example: Анна Косметолог }
                    category: { type: string, example: Косметология }
                    rating: { type: number, example: 4.9 }
                    city: { type: string, example: Москва }
        '400':
          description: Ошибка запроса
  /specialists/{id}:
    get:
      summary: Получение профиля специалиста по ID
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Профиль специалиста
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer, example: 15 }
                  name: { type: string, example: Анна Косметолог }
                  about: { type: string, example: Стаж 10 лет. Работаю с косметикой премиум-класса. }
                  rating: { type: number, example: 4.9 }
                  category: { type: string, example: Косметология }
                  services:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: integer }
                        name: { type: string }
                        price: { type: number }
        '404':
          description: Специалист не найден
  /specialists/me:
    patch:
      summary: Обновление профиля специалиста
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                about: { type: string }
                categories:
                  type: array
                  items: { type: string }
      responses:
        '200':
          description: Профиль обновлён
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer }
                  name: { type: string }
                  about: { type: string }
                  categories:
                    type: array
                    items: { type: string }
        '400':
          description: Ошибка валидации
  /specialists/me/bookings:
    get:
      summary: Получение записей к текущему специалисту
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Список записей
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer }
                    client_name: { type: string }
                    service: { type: string }
                    date: { type: string, format: date-time }
        '401':
          description: Неавторизован
  /services/:
    get:
      summary: Получение списка всех услуг
      parameters:
        - in: query
          name: category
          schema: { type: string }
        - in: query
          name: price_max
          schema: { type: number }
      responses:
        '200':
          description: Список услуг
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer }
                    name: { type: string }
                    price: { type: number }
                    duration: { type: integer }
                    category: { type: string }
                    specialist:
                      type: object
                      properties:
                        id: { type: integer }
                        name: { type: string }
    post:
      summary: Создание новой услуги
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, price, duration, category]
              properties:
                name: { type: string, example: Массаж спины }
                price: { type: number, example: 3000 }
                duration: { type: integer, example: 45 }
                category: { type: string, example: Массаж }
      responses:
        '201':
          description: Услуга создана
        '400':
          description: Ошибка валидации
  /services/{id}/:
    patch:
      summary: Обновление услуги по ID
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                price: { type: number }
                duration: { type: integer }
                category: { type: string }
      responses:
        '200':
          description: Услуга обновлена
        '404':
          description: Услуга не найдена
    delete:
      summary: Удаление услуги по ID
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '204':
          description: Услуга удалена
        '404':
          description: Услуга не найдена
  /specialists/{id}/available-slots:
    get:
      summary: Доступные слоты для записи у специалиста
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
        - in: query
          name: date
          required: true
          schema: { type: string, format: date }
      responses:
        '200':
          description: Список свободных слотов
          content:
            application/json:
              schema:
                type: object
                properties:
                  date: { type: string, example: "2025-06-10" }
                  available_slots:
                    type: array
                    items: { type: string, example: "14:00" }
        '404':
          description: Специалист не найден
  /bookings/:
    post:
      summary: Создание записи к специалисту
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [specialist_id, service_id, date, time]
              properties:
                specialist_id: { type: integer, example: 12 }
                service_id: { type: integer, example: 45 }
                date: { type: string, format: date, example: "2025-06-10" }
                time: { type: string, example: "14:00" }
      responses:
        '201':
          description: Запись создана
        '400':
          description: Ошибка валидации или времени
  /bookings/me:
    get:
      summary: Получение записей текущего пользователя
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Список записей (клиента или специалиста)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer }
                    role: { type: string, enum: [client, specialist] }
                    status: { type: string, example: confirmed }
                    specialist:
                      type: object
                      properties:
                        id: { type: integer }
                        name: { type: string }
                    service:
                      type: object
                      properties:
                        id: { type: integer }
                        name: { type: string }
                    datetime: { type: string, format: date-time }
  /bookings/{id}/cancel:
    patch:
      summary: Отмена записи
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Запись отменена
        '400':
          description: Отмена невозможна
  /bookings/{id}/confirm:
    patch:
      summary: Подтверждение записи специалистом
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Запись подтверждена
        '400':
          description: Запись уже подтверждена
  /reviews/:
    post:
      summary: Добавление отзыва клиентом
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [specialist_id, rating]
              properties:
                specialist_id: { type: integer, example: 12 }
                rating: { type: integer, minimum: 1, maximum: 5, example: 5 }
                comment: { type: string, example: Очень понравилось! }
      responses:
        '201':
          description: Отзыв успешно создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer }
                  specialist_id: { type: integer }
                  rating: { type: integer }
                  comment: { type: string }
                  created_at: { type: string, format: date-time }
        '400':
          description: Ошибка валидации или бизнес-логики
  /specialists/{id}/reviews:
    get:
      summary: Получение отзывов по специалисту
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Список отзывов
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer }
                    rating: { type: integer }
                    comment: { type: string }
                    client_name: { type: string }
                    created_at: { type: string, format: date-time }
        '404':
          description: Специалист не найден
  /specialists/map:
    get:
      summary: Геопоиск специалистов рядом
      description: Возвращает список специалистов в радиусе, отсортированный по расстоянию, фильтрам и рейтингу
      parameters:
        - in: query
          name: lat
          required: true
          schema: { type: number, example: 55.7558 }
          description: Широта пользователя
        - in: query
          name: lng
          required: true
          schema: { type: number, example: 37.6173 }
          description: Долгота пользователя
        - in: query
          name: radius
          schema: { type: number, example: 5 }
          description: Радиус поиска (в км)
        - in: query
          name: category
          schema: { type: string, example: массаж }
          description: Фильтр по категории специалиста
        - in: query
          name: min_rating
          schema: { type: number, example: 4 }
          description: Фильтр по минимальному рейтингу
      responses:
        '200':
          description: Список специалистов на карте
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer, example: 14 }
                    name: { type: string, example: Анна Мастер }
                    lat: { type: number, example: 55.7555 }
                    lng: { type: number, example: 37.6156 }
                    category: { type: string, example: Массаж }
                    rating: { type: number, example: 4.8 }
                    price_from: { type: number, example: 2500 }
        '400':
          description: Неверные или отсутствующие координаты
  /payments/create-session:
    post:
      summary: Создание платёжной сессии
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [booking_id, amount, currency, success_url, cancel_url]
              properties:
                booking_id: { type: integer, example: 123 }
                amount: { type: number, example: 2500 }
                currency: { type: string, example: RUB }
                success_url: { type: string, format: uri }
                cancel_url: { type: string, format: uri }
      responses:
        '200':
          description: Сессия успешно создана
          content:
            application/json:
              schema:
                type: object
                properties:
                  payment_url: { type: string, example: https://payment.provider.com/checkout/session/abc123 }
                  session_id: { type: string, example: abc123 }
        '400':
          description: Ошибка данных
  /payments/webhook:
    post:
      summary: Webhook от платёжной системы
      description: Внутренний endpoint для обработки уведомлений о статусе оплаты
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event, session_id, amount, booking_id]
              properties:
                event: { type: string, example: payment_succeeded }
                session_id: { type: string }
                amount: { type: number }
                booking_id: { type: integer }
      responses:
        '200':
          description: Webhook получен
        '400':
          description: Неверные данные
  /payments/history:
    get:
      summary: История платежей текущего клиента
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Список платежей
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer }
                    booking_id: { type: integer }
                    amount: { type: number }
                    status: { type: string, enum: [paid, failed, refunded] }
                    paid_at: { type: string, format: date-time }
        '401':
          description: Неавторизован
}
